<select class="tonic">
    {{#each notes}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>

<select class="mode">
    {{#each modes}}
    <option value="{{this}}">{{this}}</option>
    {{/each}}
</select>